<%- include('../partials/header', { title: 'FAQ - My EJS Website' }) %>

<section class="faq">
  <div class="container">
    <h1>Frequently Asked Questions</h1>
    <div class="faq-list">
      <div class="faq-item">
        <h3>What is hotel Api?</h3>
        <p>
          hotel api is an API that provides hotel data in JSON format for
          developers to use in their applications for testing and development
          purposes.
        </p>
      </div>
      <div class="faq-item">
        <h3>How do I integrate the API into my project?</h3>
        <p>
          Integration is simple. Just make HTTP requests to our API endpoints
          and handle the JSON response in your application. Check our
          documentation for more details.
        </p>
      </div>
      <div class="faq-item">
        <h3>Is the API free to use?</h3>
        <p>
          Yes, our API is completely free to use. You can access all the
          features without any cost.
        </p>
      </div>
    </div>
  </div>
</section>

<%- include('../partials/footer') %>
