<%- include('../partials/header', { title: 'Our Services - My Hotel API Website'
}) %>

<section class="services">
  <div class="container">
    <h1>Our Services</h1>
    <div class="service-grid">
      <div class="service-item">
        <h3>API Solutions</h3>
        <p>
          We offer a variety of APIs for generating data, including price,
          users, availability, and more. Our APIs are designed to be easy to
          integrate and use in any type of project.
        </p>
      </div>
      <div class="service-item">
        <h3>Custom Data Solutions</h3>
        <p>
          Need something more specific? We can create custom data solutions
          tailored to your needs. Contact us to discuss your requirements.
        </p>
      </div>
      <div class="service-item">
        <h3>Consulting Services</h3>
        <p>
          Our team of experts is available to provide consulting services to
          help you make the most of our APIs and other resources. We can guide
          you through the integration process and offer best practices.
        </p>
      </div>
    </div>
  </div>
</section>

<%- include('../partials/footer') %>
